-----BEGIN CERTIFICATE-----
MIIDBzCCAe+gAwIBAgIJANUIMlYke+bnMA0GCSqGSIb3DQEBBQUAMBoxGDAWBgNV
BAMMD3d3dy5leGFtcGxlLmNvbTAeFw0yMDAyMDQwODAzNTlaFw0zMDAyMDEwODAz
NTlaMBoxGDAWBgNVBAMMD3d3dy5leGFtcGxlLmNvbTCCASIwDQYJKoZIhvcNAQEB
BQADggEPADCCAQoCggEBAMxGsSkGpZq9X/v82tUA3dTo6812LkiR0t6g4NRBFT0A
C3LRpoCuO5On0zCsEVG+bRVjbYVAR+IYpVxgyr2b+373YH0YBHYlUpzFyuuRsezD
CllM+bCmJuIpjnKWZ0y5BmqY5kj7ik/L7mGPLxdyXAwOkj5CT3QgT7c3JrCw03g5
7/sCWV6/aBrvX4F5KxiTzI9k9lz83/K3kimIkN7raGOu78AJaw0bTiyUVGpZ9eeV
eNF5k/waV7kjrVSFY7bUis8SM3u5EucKVMiNhJebhwW9EviyqXyH/ul4de7o5Mpz
NO3MSwTrn+zAwlavMWA+MTzx4Po+dwGYIVtHrOw0tScCAwEAAaNQME4wHQYDVR0O
BBYEFKIsXn24P1nVolaQm/5X7rm8i5cWMB8GA1UdIwQYMBaAFKIsXn24P1nVolaQ
m/5X7rm8i5cWMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBAAMVor1N
TSJLkAFi44XwxHEkNtu5PFw0j5eXR28Lqwlx1mePpXQeQSdg8sqzHdGTpWHp8dES
wTkpG8PzZ4SsTKMV/9eP5Woeo3ZvKDR/Eao2yoqVQE+pUbJ+kyG7dznPptzXZH6w
ilXOVcJ8CTEdvf6ticPlFBIvu7xrBger66l631CzXkL0Ol8rpiOwOU7mshN/CKCe
C2d0mdRPCOzzLm6bMHgB5+rxQrs5BomoYTdDX/Dzck6QT0QNwXXK+A1V3ES10pGo
nT1+1na9iH/DD23GsUlRZs31yKJPoAMOZWzrCStTkUIncFXTk/tsm+5MCpwDaDNG
CTDklZlM8mQpvU8=
-----END CERTIFICATE-----
